Django
djangorestframework
djangorestframework-simplejwt
django-filter
mysqlclient       # o el driver que uses para MariaDB en desarrollo
gunicorn
whitenoise
requests
python-dotenv
django-cors-headers==4.4.0

