HEAD
asgiref==3.11.0
dj-database-url==3.0.1
Django==6.0
psycopg2-binary==2.9.11
sqlparse==0.5.4
tzdata==2025.2
Django
djangorestframework
djangorestframework-simplejwt
django-filter
mysqlclient       # o el driver que uses para MariaDB en desarrollo
gunicorn
whitenoise
requests
python-dotenv
django-cors-headers==4.3.1

